.board-faq-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/************ Class Category Modal ***********/
.prd-modal .modal-title {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #464646;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prd-modal .modal-title .close-btn {
    padding: 2px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.prd-modal .modal-title .close-btn .MuiSvgIcon-root {
    width: 14px;
    height: 14px;
}
.prd-modal .modal-content {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.prd-modal .modal-content .form-box {
    width: 100%;
    display: flex;
    gap: 20px;
}
.prd-modal .modal-content .form-box .form-title {
    width: 150px;
    /* height: 40px; */
    padding: 5px 10px;
    background-color: #f5f4f4;
    display: flex;
    align-items: center;
}

.prd-modal .modal-content .form-box .form-input-wrap {
    width: calc(100% - 150px);
    /* height: 40px; */
    /* padding: 10px; */
    /* border : 1px solid #e0e0e0; */
}
.prd-modal .modal-content .form-box .form-input-wrap.flex {
    display: flex;
    flex-direction: column;
}
.prd-modal .modal-content .form-box .form-input-wrap .upload-zone {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prd-modal .modal-content .form-box .form-input-wrap.flex .slide-img-wrap {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 110px;
    align-items: center;
    overflow-x: auto;
}
.prd-modal .modal-content .form-box .form-input-wrap.flex .slide-img-wrap > span {
    position: relative;
}
.prd-modal .modal-content .form-box .form-input-wrap.flex .slide-img-wrap > span .img-delete {
    position: absolute;
    top: -5px;
    right: -10px;
    border-radius: 50%;
    background: #ab0a0a;
    color: #fff;
}
.prd-modal .modal-content .form-box .form-input-wrap .form-input-img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-shrink: 0;
    object-fit: cover;
    border: 1px solid #e6e6e6;
    display: inline-block;
}
.prd-modal .modal-content .form-box .form-input-wrap.flex .slide-img-wrap .form-input-img {

}
.prd-modal .modal-content .form-box .form-input-wrap .form-input {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.prd-modal .modal-content .form-box .form-input-wrap.flex .form-input {
    height: unset;
}
.prd-modal .modal-content .form-box .form-input-wrap textarea.form-input {
    height: 150px;
    resize: none;
}

.prd-modal .modal-content .prd_content_quill .ql-container.ql-snow {
    height: 150px;
}

.prd-modal .btn-wrap {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.prd-modal .modal-title.alert {
    background-color: rgb(122, 30, 30);
}
.prd-modal .prd_alert_inner {
    padding: 0 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prd-modal .prd_alert_inner .prd_alert_btn {
    margin: 10px 0;
}
.prd-modal .prd_alert_inner .prd_alert_btn.mr-10 {
    margin-right: 10px;
}


/************ Class ADD Modal ***********/
.faq-add-modal .modal-title {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #464646;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-add-modal .modal-title .close-btn {
    padding: 2px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.faq-add-modal .modal-title .close-btn .MuiSvgIcon-root {
    width: 14px;
    height: 14px;
}
.faq-add-modal .modal-content {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.faq-add-modal .modal-content .form-box {
    width: 100%;
    display: flex;
    gap: 20px;
}
.faq-add-modal .modal-content .form-box .form-title {
    width: 150px;
    height: 40px;
    padding: 5px 10px;
    background-color: #f5f4f4;
    display: flex;
    align-items: center;
}

.faq-add-modal .modal-content .form-box .form-input-wrap {
    width: calc(100% - 150px);
    padding: 10px;
    /* border : 1px solid #e0e0e0; */
}
.faq-add-modal .modal-content .form-box .form-input-wrap .upload-zone {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-add-modal .modal-content .form-box .form-input-wrap .form-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.faq-add-modal .modal-content .form-box .form-input-wrap textarea.form-input {
    height: 150px;
    resize: none;
}

.faq-add-modal .btn-wrap {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
