.hoo-contact-us-section {
  width: 100%;
  height: 70vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #000;
  gap: 30px;
}
.hoo-contact-us-section .hoo-main-text {
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
}
.hoo-contact-us-section .hoo-mini-text {
  opacity: 0.7;
}
/*btn css*/
.hoo-contact-us-section .contact-btn-a-link {
  display: inline-block;
  top: -20px;
  animation: fadeIn 0.8s ease forwards;
  opacity: 0;
}
.hoo-contact-us-section .hoo-main-contact-btn {
  overflow: hidden;
  text-transform: uppercase;
  border: 1px solid white;
  height: 35px;
  border-radius: 20px;
  font-size: 12px;
  min-width: 110px;
  position: relative;
  cursor: pointer;
}
.hoo-contact-us-section .hoo-main-btn-white-text {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoo-contact-us-section .hoo-main-btn-white-text:nth-of-type(2) {
  top: 0px;
  color: white;
}
.hoo-contact-us-section .text-hidden-box {
  overflow: hidden;
  height: 18px;
  transition: all 0.5s ease 0.1s;
}
.hoo-contact-us-section .hoo-main-contact-btn .text-hidden-box.second {
  height: 0;
  top: 18px;
}
.hoo-contact-us-section .hoo-main-contact-btn.active .text-hidden-box.first {
  height: 0;
}
.hoo-contact-us-section .hoo-main-contact-btn.active .text-hidden-box.second {
  height: 18px;
}
.hoo-contact-us-section .hoo-main-btn-bg-wrap {
  height: 75px;
  width: 100%;
  position: relative;
}
.hoo-contact-us-section .hoo-main-btn-bg {
  height: 50%;
  width: 100%;
  transition: all 0.5s ease;
  top: 0;
  position: relative;
}
.hoo-contact-us-section .hoo-main-btn-bg:nth-of-type(1) {
  background: white;
}
.hoo-contact-us-section .hoo-main-btn-bg:nth-of-type(2) {
  background: linear-gradient(180deg, #ffffff, 50.17%, #3bc1ff);
  top: 0px;
}

.hoo-contact-us-section .hoo-main-contact-btn.active .text-hidden-box.first {
  height: 0;
}
.hoo-contact-us-section .hoo-main-contact-btn.active .text-hidden-box.second {
  height: 18px;
}
.hoo-contact-us-section .hoo-main-contact-btn.active .hoo-main-btn-bg.white,
.hoo-contact-us-section .hoo-main-contact-btn.active .hoo-main-btn-bg.green {
  top: -40px;
}

.hoo-contact-us-section .text-hidden-box .contact-us-text {
  color: #525252;
}
.hoo-contact-button-wrap {
  width: 120px;
  height: 40px;
  color: #fff;
  background-color: #004aff;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
}

.hoo-contact-button-wrap a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .hoo-contact-us-section {
    padding: 100px 20px;
    height: unset;
  }
  .hoo-contact-us-section .hoo-main-text {
    font-size: 26px;
    line-height: 1.2;
  }

  .hoo-contact-button-wrap {
    width: 120px;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
}
